name: eagle_tax
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.6.0
  supabase_flutter: ^2.8.0
  flutter_dotenv: ^5.2.1
  intl: ^0.20.2
  shared_preferences: ^2.5.4
  webview_flutter: ^4.13.0
  webview_flutter_wkwebview: ^3.23.5
  webview_flutter_web: ^0.2.3+4
  url_launcher: ^6.3.2
  app_links: ^6.4.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
    